@font-face {
  font-family: 'Nunito';
  font-weight: 200 1000;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url("../../fonts/fonts/Nunito-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: 'Nunito';
  font-weight: 200 1000;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url("../../fonts/Nunito-Italic-VariableFont_wght.ttf") format("ttf");
}