$primaryColor: #FFDECC !default;
$primaryDarkColor: #D33F0F !default;
$primaryDarkerColor: #7C0405 !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #ecfdf5 !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: #d1fae5 !default;

@import './_variables';
@import './_fonts';
@import '../theme-base/_components';
@import './extensions/_extensions';