*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #212427;
  background: white;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-inputtext{
  margin: 0;
  width: 100%;
}

.p-float-label{
  margin-left: 0;
}

button {
  --color: #FA8841;
  background: #F7B16C;
  font-family: inherit;
  display: inline-block;

  overflow: hidden;
  cursor: pointer;

  font-size: 17px;
  z-index: 1;
  color: white;
  border: 2px solid #F7B16C;
  border-radius: 6px;
  position: relative;
  width: 100%;

  padding: 9px 0px;
  margin: 20px 0;
}

button::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 250px;
  height: 190px;
  z-index: -1;
  border-radius: 50%;
}

button:hover {
  color: white;
}

button:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

button:hover::before {
  top: -30px;
  left: -30px;
}

