*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #212427;
  background: white;
  margin: 0;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.p-inputtext{
  width: 100%;
}

.p-button[data-btn="custom"]{
  --color: #FA8841;

  z-index: 1;
  position: relative;
}

.p-button[data-btn="custom"]::before {
  position: absolute;
  content: "";
  background: var(--color);
  width: 250px;
  height: 190px;
  z-index: -1;
  border-radius: 50%;
}

.p-button[data-btn="custom"]:hover {
  background-color: #F7B16C;
  border-color: #F7B16C;
}

.p-button[data-btn="custom"]:before {
  top: 100%;
  left: 100%;
  transition: 0.3s all;
}

.p-button[data-btn="custom"]:hover::before {
  top: -30px;
  left: -20%;
}

